footer {
    height: 5vh;
    width: 100vw;
    background-color: $para-la-agencia-de-viajes-1-rgba;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    div {
        height: 100%;
        display: inline-block;

    }
}
.logo {
    height: 100%;
  }
