footer {
    height: 5vh;
    width: 100vw;
    background-color: rgba(210, 105, 30, 0.329);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    div {
        height: 100%;
        display: inline-block;

    }
}
.logo {
    height: 100%;
  }
